<%- include('./partials/header') %>

<body>
  <div style="margin: 50px;">
    <h2 class="greeting">Homepage</h2>
    <div style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 20px;">
      <h3>Dear donor, please provide us with your personal information by clicking the button below. Once you have
        uploaded your donor profile, you may log out. Thank you.</h3>
      <nav class="donor-nav">
        <a href="/donor/new" style="padding: 5px; margin-top: 20px;">Upload Donor Profile</a>
      </nav>
    </div>
  </div>
</body>

<%- include('./partials/footer') %>
