<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
<body>
  <div style="margin: 50px;">
    <h2>Donor particulars</h2>
    <div class="form-container">
      <form action="/donor" method="POST" style="display: flex; flex-direction: column; align-items: flex-start;">
        <label for="name" style="margin-bottom: 10px;">Name:</label>
        <input type="text" name="name" style="padding: 5px; margin-bottom: 20px;" />
        <label for="age" style="margin-bottom: 10px;">Age:</label>
        <input type="number" name="age" min="18" max="65" style="padding: 5px; margin-bottom: 20px;" />
        <label for="bloodType" style="margin-bottom: 10px;">Blood Type:</label>
        <select name="bloodType" style="padding: 5px; margin-bottom: 20px;">
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
        <label for="gender" style="margin-bottom: 10px;">Gender:</label>
        <select name="gender" style="padding: 5px; margin-bottom: 20px;">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <button type="button" onclick="window.history.back()" style="padding: 5px; margin-right: 20px;">Back</button>
        <button type="submit" style="padding: 5px;">Add Donor</button>
      </form>
    </div>
  </div>
</body>

</html>
